* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  border: 0;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  background-color: inherit;

  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

p {
  padding: 0;
  margin: 0;
}
